@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DMSansRegular';
  src: local('DMSansRegular'),
    url('./components/Product/font/DMSans-Regular.ttf') format('truetype');
  font-weight: regular;
}

@font-face {
  font-family: 'DMSansMedium';
  src: local('DMSansMedium'),
    url('./components/Product/font/DMSans-Medium.ttf') format('truetype');
  font-weight: medium;
}

@font-face {
  font-family: 'DMSansBold';
  src: local('DMSansBold'),
    url('./components/Product/font/DMSans-Bold.ttf') format('truetype');
  font-weight: medium;
}

* {
  font-family: 'DMSansRegular';
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
}

.icons {
  font-size: 24px;
  margin-top: 0.5rem;
  width: 70px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.logo {
  width: 100px;
  cursor: pointer;
}

/* Checkout page */

.backButton {
  font-family: 'DMSansMedium';
  width: 90px;
  height: 25px;
  outline: 2px solid rgb(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 14px;
}

.backButton:hover {
  background-color: #2bb48c;
  cursor: pointer;
  color: white;
  outline: none;
}

.checkout-container {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
}

.left-fields {
  display: flex;
  flex-direction: column;
}

.shipping-field {
  border: 1px solid rgb(224, 224, 224);
  width: 700px;
  padding: 2rem;
}

.green-circle {
  height: 30px;
  width: 30px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.top-content {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-between;
}

.bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.delivery-field {
  margin-top: 5rem;
  border: 1px solid rgb(224, 224, 224);
  width: 700px;
  padding: 2rem;
}

.delivery-content {
  display: flex;
}

.delivery-content h5 {
  padding-left: 1rem;
  padding: 0.5rem;
}

.delivery-content .delivery-date {
  color: green;
}

.payment-field {
  margin-top: 5rem;
  border: 1px solid rgb(224, 224, 224);
  width: 700px;
  padding: 2rem;
}

.right-fields {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  width: 800px;
}

.order-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 1rem;
}

.item-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 1rem;
}

.items-container {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.items-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chair-image {
  width: 100px;
}

.promo-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 1rem;
}

.price-container {
  padding: 1rem;
}

.price-container div {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.price-container div:nth-child(1) {
  opacity: 80%;
}

.price-container div:nth-child(2) {
  opacity: 80%;
}

.price-container div:nth-child(3) {
  opacity: 80%;
}

.button-order {
  width: 200px;
  height: 40px;
  background-color: rgb(83, 83, 83);
  color: white;
  border: none;
  margin-top: 1rem;
}

/* shipping info */

label {
  font-family: 'DMSansMedium';
  font-size: 0.8rem;
}

input[type='text'] {
  border: 0;
  border-bottom: 1px solid gray;
  width: 100%;
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-family: 'DMSansRegular';
}

input[type='submit'] {
  background-color: #2bb48c;
  color: white;
  border: none;
  cursor: pointer;
}

select {
  border: 0;
  border-bottom: 1px solid gray;
  width: 100%;
}

select option {
  font-size: 0.5rem;
}

select:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}

.shipping-fields {
  margin-top: 3rem;
}

.shippingButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.shippingButtons button {
  width: 300px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.shippingButtons button:nth-child(1) {
  background-color: #f0f0f0;
}

.shippingButtons button:nth-child(2) {
  background-color: #2bb48c;
  color: white;
}

.saved-info-section {
  display: flex;
  justify-content: space-between;
}

.left-info-section {
  color: rgb(0, 0, 0);
  font-family: 'DMSansRegular';
}

.right-info-section button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: 'DMSansBold';
  color: grey;
}

.payment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.masterCard-Payment {
}

.masterCard-Fields {
  padding-top: 2rem;
}

.masterCard-Fieldss {
  width: 120px;
  height: 25px;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  color: white;
  margin-top: 2rem;
  background-color: #2bb48c;
}

.masterCard-Fieldss:hover {
  background-color: rgb(1, 73, 1);
}

.button-order2 {
  width: 200px;
  height: 40px;
  background-color: #2bb48c;
  color: white;
  border: none;
  margin-top: 1rem;
}
