@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DMSansRegular';
  src: local('DMSansRegular'),
    url('./components/Product/font/DMSans-Regular.ttf') format('truetype');
  font-weight: regular;
}

@font-face {
  font-family: 'DMSansMedium';
  src: local('DMSansMedium'),
    url('./components/Product/font/DMSans-Medium.ttf') format('truetype');
  font-weight: medium;
}

@font-face {
  font-family: 'DMSansBold';
  src: local('DMSansBold'),
    url('./components/Product/font/DMSans-Bold.ttf') format('truetype');
  font-weight: medium;
}

* {
  font-family: 'DMSansRegular';
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
}

.icons {
  font-size: 24px;
  margin-top: 0.5rem;
  width: 70px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.backButton {
  font-family: 'DMSansMedium';
  width: 90px;
  height: 25px;
  padding-top: 5px;
  outline: 2px solid rgb(0, 0, 0, 0.05);
  text-align: center;
  color: rgb(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 14px;
}

.backButton:hover {
  background-color: #2bb48c;
  cursor: pointer;
  color: white;
  outline: none;
}
